<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.dartmouth.cs.pantryplanner.app">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/refrigerator"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".controller.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.RecipeDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".controller.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".controller.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".controller.CreateMealActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".controller.CreateRecipeActivity"/>

        <activity android:name=".controller.ExploreRecipeActivity"/>
    </application>

</manifest>
